
#header-title {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
	color: whitesmoke;
	font-weight: bold;
}

#qo-wrap {
	min-height: 500px; 
	border: 3px solid #ccc; 
	background-color: rgba(255,255,255,.25);
	padding-left: 0; 
	padding-right: 0;
}

.category-label {
	color: white;
}

.section-label {
	color: black;
}

#clear {
	margin-right: 2%;
}

option {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}

#add_break {
	cursor: pointer;
}

label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}

label {
	display: block;
	padding-top: 7px;
	margin-bottom: 5px;
	font-weight: bolder;
}

.draggableField {
	margin-top: 0px;
	margin-bottom: 3px;
	padding-bottom: 5px;
}

.droppedCategory, .droppedSect > input, select, button, .ctrl-textbox, .checkboxgroup, .selectmultiplelist, .radiogroup {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.ctrl-select_one {
	width: 98%;
}

.number_option {
	padding-left: 0;
	padding-top: 5px;
}

.ctrl-selectmultiplelist {
	width: 150px;
}

#mock_database {
	font-size: x-small;
}

button {
	margin-left: 4px;
}

/*.trigger_btns {
	display: none;
}
*/
.affix-top,.affix{
 	position: static;
}

#sidebar.affix {
	position: fixed;
	top: 400px;
	width: 202px;
}


@media screen and (max-width: 1200px) {
	.panel-collapse {
		width: 192px;
	}
}

.panel-primary, .panel-default {
	margin-right: 0px;
}

/*@media screen and (max-width: 1200px) {
	.panel-primary, .panel-default {
		margin-right: 10px;
	}
}*/

@media screen and (max-width: 1200px) {
	.panel-group {
		width: 202px;
	}
}

@media screen and (min-width: 1200px) {
	#sidebar.affix {
		position: fixed;
		top: 100px;
		width: 262px;
	}
}

@media screen and (max-width: 1185px) {
	.ctrl-textbox, .ctrl-select_one {
		width: 178px;
	}
}

@media screen and (max-width: 990px) {
	.panel-group {
		width: 150px;
	}
}

@media screen and (max-width: 990px) {
	.panel-collapse {
		width: 158px;
	}
}

@media screen and (max-width: 990px) {
	.ctrl-textbox, .ctrl-select_one, .ctrl-selectmultiplelist {
		width: 100px;
	}
}


@media screen and (max-width: 768px) {
	.panel-collapse {
		width: 139px;
	}
}

@media screen and (max-width: 768px) {
	h3 {
		font-size: 24px;
	}
}

@media screen and (max-width: 768px) {
	h4 {
		font-size: 14px;
	}
}

.input_labels {
	color: white;
	padding-top: 0;
}

.radio, .checkbox {
	min-height: 20px;
	padding-left: 20px;
}

#form-title {
	margin: 10px auto;
	text-align: center;
	font-size: x-large;
}

#salesforce_code {
	font-weight: 800;
}

.col-centered {
	margin: 5px auto;
	float: none;
}

.well {
	min-height: 20px;
	padding: 10px;
	margin: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}

ul {
	padding-left: 0px;
}

.center-blocks {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.draggableField:hover {
	background-color: #a3bfff;
	cursor: default;
}

.droppedElem:hover {
	background-color: #a3bfff;
}


.ui-draggable-dragging {
	z-index: 1000!important;
	box-shadow:0 0 2px #000;
}

.activeDroppable {
	background-color: #eeffee;
}

.hoverDroppable {
	background-color: #a3bfff;
}

.modal {
	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 1050;
	width: 750px;
	margin-left: -280px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 6px;
	outline: 0;
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	background-clip: padding-box;    
	max-height: calc(100% - 120px);
}

.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.droppedSect .panel-body {
	padding-bottom: 20px;
}

.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-right: 5px;
    text-align: right;
}

.form-horizontal .control-section {
    float: left;
    width: 160px;
    padding-right: 5px;
    text-align: right;
}

.edit_btns {
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 0px;
}

#main-container {
	margin-bottom: 50px;
}

.control-label; {
    padding-top: 5px;
    vertical-align: baseline;
    padding-right: 10px;
}

.decreaseSectPadding {
	padding: 1px 15px;
}

.panel {
	margin-bottom: 10px;
}

.form-control {
	margin-bottom: 4px;
}

.panel-body {
	padding: 8px;
}

#customization_modal {
	display: table;
	padding-right: 0px;
}

#checksExclusivity {
  border: 3px;
  padding: 10px;
}

.pb-sect {
	padding: 3px;
}

.droppedElem {
	padding-left: 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #0a548b;
}


.view_parent_img1 {
	background: url(/img/grey_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*need to keep image same size as page scrolls -- google solution*/
}

/*.stable_img1 {
	background: url(/img/dark_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
*/
h4 {
    font-size: 18px;
    font-weight: bold;
}   

h3 {
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

html,body {
	width: 100%;
	height: 100%;
	background: url('/img/qo_main_bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;	
}


