
#header-title {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
	color: whitesmoke;
	font-weight: bold;
}

#qo-wrap {
	min-height: 500px; 
	border: 3px solid #ccc; 
	background-color: rgba(255,255,255,.25);
	padding-left: 0; 
	padding-right: 0;
}

.category-label {
	color: white;
}

.section-label {
	color: black;
}

#clear {
	margin-right: 2%;
}

option {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}

#add_break {
	cursor: pointer;
}

label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}

label {
	display: block;
	padding-top: 7px;
	margin-bottom: 5px;
	font-weight: bolder;
}

.draggableField {
	margin-top: 0px;
	margin-bottom: 3px;
	padding-bottom: 5px;
}

.droppedCategory, .droppedSect > input, select, button, .ctrl-textbox, .checkboxgroup, .selectmultiplelist, .radiogroup {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.ctrl-select_one {
	width: 98%;
}

.number_option {
	padding-left: 0;
	padding-top: 5px;
}


.technologies {
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #337ab7;
    text-align: center;	
}

.full {
	background: url('/img/mc_bg4.jpg')
}

#ct_divs {
	background-size: 100% 100%;
}

.headers {
	font-size: 60px;
}

.ctrl-selectmultiplelist {
	width: 150px;
}

#mock_database {
	font-size: x-small;
}

button {
	margin-left: 4px;
}

.affix-top,.affix{
 	position: static;
}

#sidebar.affix {
	position: fixed;
	top: 400px;
	width: 202px;
}


@media screen and (max-width: 1200px) {
	.panel-collapse {
		width: 192px;
	}
}

.panel-primary, .panel-default {
	margin-right: 0px;
}

@media screen and (max-width: 1200px) {
	.panel-group {
		width: 202px;
	}
}

@media screen and (min-width: 1200px) {
	#sidebar.affix {
		position: fixed;
		top: 100px;
		width: 262px;
	}
}

@media screen and (max-width: 1185px) {
	.ctrl-textbox, .ctrl-select_one {
		width: 178px;
	}
}

@media screen and (max-width: 990px) {
	.panel-group {
		width: 150px;
	}
}

@media screen and (max-width: 990px) {
	.panel-collapse {
		width: 158px;
	}
}

@media screen and (max-width: 990px) {
	.ctrl-textbox, .ctrl-select_one, .ctrl-selectmultiplelist {
		width: 100px;
	}
}


@media screen and (max-width: 768px) {
	.panel-collapse {
		width: 139px;
	}
}

@media screen and (max-width: 768px) {
	h3 {
		font-size: 24px;
	}
}

@media screen and (max-width: 768px) {
	h4 {
		font-size: 14px;
	}
}

.input_labels {
	color: white;
	padding-top: 0;
	font-size: medium;
}

.radio, .checkbox {
	min-height: 20px;
	padding-left: 20px;
}

div.white_bg, div.full_width {
	width: 100%;
	padding: 75px 0;
}


div.full_width {
	background-color: #fbfbfb;
	border-top: 1px solid #dcddde;
	border-bottom: 1px solid #dcddde;
}

#form-title {
	margin: 10px auto;
	text-align: center;
	font-size: x-large;
}

#salesforce_code {
	font-weight: 800;
}

.col-centered {
	margin: 5px auto;
	float: none;
}

.names_inputs_label {
	text-align: center;
}

.well {
	min-height: 20px;
	padding: 10px;
	margin: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}

ul {
	padding-left: 0px;
}

.center-blocks {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.draggableField:hover {
	background-color: #a3bfff;
	cursor: default;
}

.droppedElem:hover {
	background-color: #a3bfff;
}

input[type=checkbox]:hover {
	cursor: pointer;
}

.ui-draggable-dragging {
	z-index: 1000!important;
	box-shadow:0 0 2px #000;
}

.activeDroppable {
	background-color: #eeffee;
}

.hoverDroppable {
	background-color: #a3bfff;
}


.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}

.modal-body {
    padding: 15px;
}

.droppedSect .panel-body {
	padding-bottom: 20px;
}

.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-right: 5px;
    text-align: right;
}

.form-horizontal .control-section {
    float: left;
    width: 160px;
    padding-right: 5px;
    text-align: right;
}

.edit_btns {
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 0px;
}

#main-container {
	margin-bottom: 50px;
}

.control-label; {
    padding-top: 5px;
    vertical-align: baseline;
    padding-right: 10px;
}

.decreaseSectPadding {
	padding: 1px 15px;
}

.panel {
	margin-bottom: 10px;
}

.pane {
	display: inline-block;
	overflow-y: scroll;
	max-height: 700px;
}

.form-control {
	margin-bottom: 4px;
}

.panel-body {
	padding: 8px;
}

#customization_modal {
	display: table;
	padding-right: 0px;
}

#checksExclusivity {
  border: 3px;
  padding: 10px;
}

.output {
	margin-top: 10px;
}

#dropdown_input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.tb_data {
	text-align: center;
}

#id_header:hover {
	cursor: pointer;
	background: #AAA;
}

.pb-sect {
	padding: 3px;
}

.droppedElem {
	padding-left: 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #0a548b;
}

.view_parent_img1 {
	background: url(/img/grey_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}   

h3 {
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
}

body {
    font-family: 'Catamaran',sans-serif;
    font-size: 14px;
}

html,body {
	width: 100%;
	height: 100%;
/*	background: url('/img/mc_bg2.jpg') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;	
}


/*.table-header-rotated th.row-header{
  width: auto;
}*/

.table-header-rotated td{
  width: 40px;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  height: 120px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 60px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  font-size: large;
  /* white-space: nowrap; *//*whether to display in one line or not*/
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    border-top: none;